<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa-duotone fa-wave-pulse"></i></a>
        <a href="/" class="navbar-brand">Project-rater</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Sign in</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Post Project</a>
                </li>
            </ul>
        </div> 
    </div>
    <form class="d-flex"  method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search for projects" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    
</nav>
